html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

html {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle;
}

q, blockquote {
	quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
	content: "";
	content: none;
}

a img {
	border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
	display: block;
}

* {
	box-sizing: border-box;
}


body {
	color: #fff;
	font-family: arial;
	background: rgba(0,145,255,1);
	background: -moz-linear-gradient(-45deg, rgba(0,145,255,1) 0%, rgba(166,39,230,1) 51%, rgba(166,39,230,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,145,255,1)), color-stop(51%, rgba(166,39,230,1)), color-stop(100%, rgba(166,39,230,1)));
	background: -webkit-linear-gradient(-45deg, rgba(0,145,255,1) 0%, rgba(166,39,230,1) 51%, rgba(166,39,230,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(0,145,255,1) 0%, rgba(166,39,230,1) 51%, rgba(166,39,230,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(0,145,255,1) 0%, rgba(166,39,230,1) 51%, rgba(166,39,230,1) 100%);
	background: linear-gradient(135deg, rgba(0,145,255,1) 0%, rgba(166,39,230,1) 51%, rgba(166,39,230,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0091ff', endColorstr='#a627e6', GradientType=1 );
	padding: 0 2px;
}

/*
	table
 */
table td {
	padding: 2px;
	height: 20%;
	width: 25%;
}

table {
	height: 75vh;
}

table,
button,
input {
	font-size: 22px;
	width: 100%;
}

button {
	background: rgba( 255, 255, 255, .1 );
	border: none;
	display: block;
	padding: 0;
	color: #fff;
	height: 100%;
}

button:hover,
button:focus,
button:active {
	outline: none;
	border: none;
}

input {
	background: transparent;
	border: none;
	color: #fff;
	font-size: 30px;
	height: 25vh;
	padding: 0 10px;
	text-align: right;
}

.sign {
	background: rgba( 255, 255, 255, .3 );
	font-size: 25px;
}


.last-result {
	position: absolute;
	right: 10px;
	top: 15px;
	opacity: .5;
}

.cal-header {
	position: relative;
}

::-webkit-input-placeholder {
	color: #fff;
}